* {
  font-family: Roboto, Verdana;
}

p {
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.h-vh {
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  height: auto;
  width: 100%;
}

.d-none {
  display: none;
}

.fadeIn-anim {
  animation: fadeIn .3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.product {
  cursor: pointer;
}

.mb-2 {
  margin-bottom: 0.25rem;
}

.mb-item {
  margin-bottom: 0.5rem !important;
}

.text-weight-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.discount {
  width: 60px;
  height: 35px;
  top: -5px;
  border-radius: 3px;
  background-color: #e75353;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.brand {
  font-size: 12px;
}

.name {
  font-size: 12px;
  line-height: 16px;
  color: rgb(106, 106, 106);
}

.list-price {
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px;
  color: rgb(106, 106, 106);
}

.offer-price {
  font-size: 14px;
  color: rgb(106, 106, 106);
  line-height: 18.2px;
}

.lowest-price {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #e75353;
  font-weight: 600;
  line-height: 20.8px;
}

.product-detail {}

.product-detail_img-viewer {
  cursor: pointer;
}

.product-detail_brand {
  font-size: 18px;
  color: #6a6a6a;
}

.product-detail_name {
  font-size: 20px;
  font-weight: 400;
}

.product-detail_short-description {
  font-size: 14px;
  color: #6a6a6a;
}

.product-detail_price {
  font-size: 14px;
  color: #999999;
}

.product-detail_price_lowest {
  font-size: 14px;
  color: #e75353;
  font-weight: 600;
}

.product-detail_discount {
  font-size: 14px;
  color: #6a6a6a;
  font-weight: 800;
}

.product-detail_discount_arrow {
  position: relative;
  text-align: center;
  background: #e75353;
  margin: 0;
  padding: 5px 5px 4px 0;
  min-width: 40px;
  z-index: 2;

}

.product-detail_discount_arrow::after {
  position: absolute;
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(231, 83, 83, 0);
  border-right-color: #e75353;
  border-width: 15px;
  margin-top: -15px;
}

.product-detail_discount_arrow .product-detail_discount_arrow_text {
  padding-right: 10px;
  color: #fff;
  font-size: 14px;
}

.product-detail_points {
  padding-bottom: 4px;
  border-bottom: 1px solid #e8e8e8;

}

.product-detail_points .product-detail_points_text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  color: #70578b;
}